
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            height: 100vh;
            background-color: #f4f4f4;
            display: flex;
            flex-direction: column;
            overflow-x: hidden;

        }

        b {
            font-family: Arial, sans-serif; 
            font-size: 24px;
            color: rgb(0, 0, 0);

        }



        c {
            font-family: 'Arial', sans-serif;
            font-size: 16px;
            line-height: 1.5;
            max-width: 60%;
            margin-left: 250px;
            padding: 20px;
            text-align: left;

        }

        

        /* Fixed navbar styling */
        nav {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background-color: #f4f4f4;
            padding: 0px 0;
            z-index: 1000;
            display: flex;
            justify-content: left;
        }

        .navbar-container {
            display: flex;
            gap: 20px;
            align-items: center;
            padding: 20px
        }

        .navbar-container label {
            color: rgb(0, 0, 0);
            font-size: 16px;
        }

        .checkbox-container {
            display: flex;
            gap: 15px;
            align-items: center;
        }

        .checkbox-container input {
            margin-right: 5px;
            
        
        }

        .content {
            font-size: 20px;
            line-height: 1.5;
            max-width: 25%;
            margin-top: 60px;
            margin-left: 20px;
              /* Adds top margin to prevent content from being hidden behind navbar */
            text-align: left;
        }

        .gl {
            display: inline-block;
            transition: text-shadow 0.3s ease-in-out;
        }

        /* gl effects for each cat */
        .gl-inst {
            text-shadow: 0 0 10px #000000, 0 0 20px #000000;
        }

        .gl-spec {
            text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000;
        }

        .gl-arch {
            text-shadow: 0 0 10px #00ff15, 0 0 20px #00ff15;
        }


        /* Style links to look like regular text but still have the gl */
        a {
            text-decoration: none; /* Remove underline */
            color: inherit; /* Inherit the color of the gling effect */
        }

        footer {
            font-family: 'Arial', sans-serif;
            font-size: 16px;
            line-height: 1;
            max-width: 80%;
            margin: 50px;
            padding: 20px;
            position: static;
        }

        



        img {
            max-width: 100%;;
            height: auto;
            mix-blend-mode: multiply;
            
        }


        /* FLOAT IMAGES FOR MULTIPLE NEXT TO EACH OTHER - TWO IN THIS CASE */
        .column {
            float: left;
            width: 50%;
            padding: 5px;
        }

        .row::after {
            content: "";
            clear: both;
            display: table;
        }