#hover-image {
    position: fixed;
    width: auto; 
    height: 350px;
    opacity: 0.75; 
    z-index: 9999; 
    pointer-events: none; 
} 



/* IMG */
img {
    max-width: 100%;;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    mix-blend-mode: screen;
}


/* NAV BAR */
.navbar {
    background-color: #000000;
    height: 100%;
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 20px;
    padding-left: 20px;

}

.navbar ul {
    list-style-type: none;
    padding: 0;
    
}

.navbar li {
    margin: 0;
    padding: 0;
    text-align: left;
    
}

.navbar a {
    display: block;
    color: rgb(0, 150, 0);
    text-decoration: none;
    padding: 10px 0;
    border-bottom: 2px solid rgb(0, 255, 0);
}

.navbar p {
    display: block;
    color: rgb(0, 150, 0);
    text-decoration: none;
    padding: 10px 0;
    border-bottom: 2px solid rgb(0, 255, 0);
}

.navbar b {
    display: block;
    color: rgb(0, 255, 0);
    text-decoration: none;
    padding: 10px 0;
    border-bottom: 2px dashed rgb(0, 255, 0);
}

/* active link >> i use text decoration instead now*/
.navbar a.active {
    background-color: #ffffff;
    padding-right: 20px;
    text-align: left;
}





.overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5); /* Semi-transparent black overlay */
    color: #485313;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* Style the image within the overlay */
.overlay img {
    max-width: 100%;
    max-height: 100%;
    border: 2px solid #fff;
}

/* Define the hover effect */
nav a:hover + .overlay {
    display: flex; /* Show the overlay when hovering over the link */
}



/* FONT TYPES*/
body {
    font-family: Arial, sans-serif;
    color: rgb(0, 255, 0);
}


h1 {
    font-family: 'Open Sans', sans-serif;
    color: rgb(0, 255, 0);
}


p {
    font-family: Arial, sans-serif; 
    font-size: 16px;
    color: rgb(0, 255, 0); 
 
}

a {
    font-family: Arial, sans-serif; 
    font-size: 16px;
    color: rgb(0, 255, 0);

}

b {
    font-family: Arial, sans-serif; 
    font-size: 18px;
    color: rgb(0, 100, 0);

}

/* crossed out text decoration */
.crossed-out{
    text-decoration: line-through;
    text-decoration-thickness: 4px;
    color: rgb(255, 0, 0);
}


code {
    font-family: "Courier New", monospace;
    color: rgb(0, 255, 0);
    background-color: #696969; 
    padding: 5px;
    border: 1px solid #ccc;
    display: block;
    white-space: pre-wrap; 
}



/* browser styles */
body, html {
    color: rgb(0, 255, 0);
    margin: 0;
    padding: 0;
    padding-left: 120px;
    padding-top: 65px;
    width: 80%;
    height: 100%;
    background-color: #000000;

}



/* IMAGE STYLE */

.image-container {
    position: relative;
}

.centered-image {
    position: absolute;
    width: 600;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.styled-image {
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #888888;
}

.pointer {
    cursor: url(./assets/cursor.png) 0 0, auto;
}
.pointer2 {
    cursor: url(./assets/osb_cursor.png) 0 0, auto;
}
